venv/
__pycache__/
*.pth
data/
wandb/
checkpoints/
.ipynb_checkpoints/
.env
outputs_smoke_test/
outputs_mlp/
outputs_cnn/
resultados_kaggle/
outputs/
outputs.zip
outputs_final/
outputs_augmentation/
/relatorio/
/miniprojeto 1 doc.docx
